<div class="title text-center">
  <h1>今回は・・・・・・</h1>
  <div class="main"> 
    <%= @random_word.content %>
  </div>
  <div class="title2">
    <h2>・・・・・・にしましょう！</h2>
  </div>
</div>
<div class="row">
  <%= link_to 'トップに戻る', '/words/destroy_all', class: 'btn btn-success col-sm-8 offset-2 mt-5' %>
    <p class="col-sm-8 offset-2">※ブラウザの戻るボタンは押さないでください。</p>
</div>
